{# src/Comunidad/UsuariosBundle/Resources/views/portada.html.twig #}
{% extends '::frontend.html.twig' %}
 
{% block title %} 
	Comunidad test 
{% endblock %}

{% block id 'portada' %}
 
{% block article %} Home {% endblock %}
 
{% block aside %} 
{#
<div class="lastUsers">{% render controller('UsuariosBundle:Usuarios:lastUsers') %}</div>
 <div class="lastMsgs">{% render controller('UsuariosBundle:Mensajes:lastMessages') %}</div> 
 #}
  {% endblock %}