{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ 'Add Comment'|trans }}{% endblock%}

{% block body %}
    <h1>{{ 'Add Comment'|trans }} "{{ comment.blog.title }}"</h1>
    {% include 'BloggerBlogBundle:Comment:form.html.twig' with { 'form': form } %}
{% endblock %}