{# src/Comunidad/UsuariosBundle/Resources/views/create.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
 
{% block title %} 
	{% trans %}Create user{% endtrans %} 
{% endblock %}


{% block body %}
    <header>
        <h1>{% trans %}User created{% endtrans %}</h1>
    </header>


{% trans %}User created{% endtrans %} 

{% endblock %}
 
