{% extends '::frontend.html.twig' %}
 
{% block title %} 
	{% trans %}Users list{% endtrans %}
{% endblock %}

{% block id 'ayuda' %}
 
{% block article %} 
	<ul>
{% for items in listado %}
	<li> <a href="{{ path('usuarios_mensaje_edit',{'id':items.id})}}">{{ items.title|e }} </a></li>
{% endfor %}
	</ul>
	

{% endblock %}
 
{% block aside %} bloque lado {% endblock %}