{% extends '::frontend.html.twig' %}
 
{% block title %} 
	{% trans %}Users list{% endtrans %}
{% endblock %}

{% block id 'ayuda' %}
 
{% block article %} 

	<ul>
{% for items in listado %}
	
	{% if app.user %}
		<li> <a href="{{ path('usuarios_edit',{'id':items.id})}}">{{ items.login|e }} </a></li>
	{% else %}
		<li>{{ items.login|e }}</li>
	{% endif %}


{% endfor %}
	</ul>

	

{% endblock %}
 
{% block aside %} bloque lado {% endblock %}